h1{
    font-family: 'Lobster Two', cursive;
    font-size: 65px;
}
.title-text{
    font-family: 'Mrs Sheppards', cursive;
    color: rgb(250, 71, 6);
}
body{
    margin: 0;
    font-family: 'Arima Madurai', cursive;
    font-size: 20px;
    
}
.width{
    width: 40%;
    margin-left: 60px;
    float: left;
    padding: auto;
    }
    
.fb-btn{
    margin-top: 10px;
    padding: 10px;
    color: white;
    background-image: linear-gradient(120deg,#3B5998,#81b3ec );
    text-decoration: none;
    border-radius: 25px;
    font-weight: 700;
}
section{
    height: 600px;
    padding-bottom:  200px;
}
.intro{
    width: 100%;
    background-image: url("images/img-bg.jpg");
    background-repeat: no-repeat;
}
.mid-section{
    width: 100%;
    background-image: url("images/img3.jpg");
    background-repeat: no-repeat;
}
